streamlit>=1.42.0
google-generativeai==0.8.3
google-api-core==2.19.1
google-auth==2.32.0
langchain>=0.3.0
langchain-community
langchain-google-genai
chromadb
sentence-transformers
pandas
pydantic
python-dotenv
